{% extends 'base.html' %}

{% block title %}
Add Tag
{% endblock %}

{% block content %}

<h1> Create new tag </h1>

<form method="POST" action = "/tags/new">
    <label for="name">Name</label>
    <input type ="text" id="name" name="name" placeholder = "enter tag here">

    <div>
        {% for post in posts %}
        <label for="post_{{ post.id}}">{{ post.title}} </label>
        <input type="checkbox" value ="{{ post.id }}" id = "post_{{ post.id}} " name = "posts">
        {% endfor %}
    </div>

    <a href="/tags">Cancel</a>
    <button type="submit">Add</button>
</form>

{% endblock %}
