{% extends 'base.html' %}

{% block title %}
Edit Post
{% endblock %}

{% block content %}

<h1> Edit Post </h1>

<form method="POST" action="/posts/{{post.id}}/edit">
    <label for="title">Title</label>
    <input name ="title" id=""title">

    <label for="content">Post Content</label>
    <textarea id="content" name="content"> {{ post.content }} </textarea>

    <div class="form-check">
        {% for tag in tags %}
        <div>
          <input class="form-check-input"
                 type="checkbox"
                 value="{{ tag.id }}"
                 id="tag_{{ tag.id }}"
                 {% if tag in post.tags %}checked{% endif %}
                 name="tags">
          <label class="form-check-label" for="tag_{{ tag.id }}">
            {{ tag.name }}
          </label>
        </div>
        {% endfor %}
    </div>

    <a href="/users/{{ post.user_id }}">Cancel</a>
    <button type="submit">Edit</button>

</form>

{% endblock %}
